@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v11/0dTEPzkLWceF7z0koJaX1A.woff2) format('woff2');

}


form {
    
    width: 75%;
 
    margin: auto;
    padding: 10px 20px;
    margin-top: 0;
    border-radius: 20px;
}



.form__titulo {
    font-family: sans-serif;
    background-color: #165253;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 4px solid rgba(0, 0, 0, 0.5);
}

.contendor-inputs {
    
    padding: 20px 30px;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0 0 20px 20px;
}

.custom-input-file {
    background-color:#165253;
    color: #fff;
    border: 1px solid #307c7d;
    border-radius: 7px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-right: 0px;
    padding: 8px;
    text-align: left;
    width: 1px;
    
  }
  
  .custom-input-file .input-file {
   border: 10000px solid transparent;
   cursor: pointer;
   font-size: 1px;
   margin: 0;
   opacity: 0;
   outline: 0 none;
   padding: 0;
   position: absolute;
   right: -1000px;
   top: -1000px;
  }


  .btn-enviar {

    background: #165253;
    color: #fff;
    margin: auto;
    margin-top: 0%;
    margin-left: 24%;
    width: 50%;
    padding: 10px 40px;
    cursor: pointer;
    font-size: 20px;
}

.btn-enviar:hover {
    transition: 0.2s;
    background: #307c7d;
}

.form__link {
    width: 100%;
    margin: 7px;
    text-align: center;
    font-size: 14px;
}


.carousel-inner{
    background-color: white;
    
}


.carousel-control-prev{
    margin-left: 15%;
}

.carousel-control-prev span{
   color:black;
   font-size: 100px;
}



.actualizar{
    margin-left: 89%;
    border: none;
   
}

.fas{
    font-size: 35px;
    color:white;
} 

button{
    background: none;
    height: auto;
    width: auto;
    border-radius: 10px;
    border: none;
}

table{
    margin-top: 3%;
    width: 90%;
    max-width: 90%;
    height: 50%;
    max-height: 50%;
    
    margin-left: 80px;
    border: 1px solid #165253;;
   
}

thead{
   
    background-color:  #165253;
    color: white;
    font:bold;
    font-size: 16px;  
    text-align: justify;  
}
.accionesactu{
    color:#7DCEA0;
}
.actualizar{
    margin-top: 3px;
    margin-left: 10px;
    margin-right: 3px;
    background-color:#196F3D;
    color:white;
    width: 50px;
    height: 30px;
  border-radius: 10px;
}
.accioneseli{
    color:#C0392B ;
}
.eliminar{
    margin-left: -0px;
    background-color:#C0392B;
    color:white;
    width: 50px;
    height: 30px;
    border-radius: 10px;
}
.fa-pencil-alt{
    font-size: 18px;
}
.fa-trash{
    font-size: 18px;
}

th{
    height: 50px;
}

.tabla{
    margin-left: 0%;
    overflow:scroll;
     height:470px;
     width:99%;
}

tbody tr:nth-child(odd) {
    background-color: white
  }
  
  tbody tr:nth-child(even) {
    background-color: #449394;
  }
  
  tbody tr:hover{
    background-color: #165253;
    color:white;
  }
