@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v11/0dTEPzkLWceF7z0koJaX1A.woff2) format('woff2');

}


form {
    width: 78%;
    margin: auto;
    padding: 10px 20px;
    margin-top: 0;
    border-radius: 20px;
}



.form__titulo {
    font-family: sans-serif;
    background-color: #165253;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 4px solid rgba(0, 0, 0, 0.5);
}

.contendor-inputs {
    padding: 20px 30px;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0 0 20px 20px;
}

input {
    margin-bottom: 5px;
    padding: 10px;
    font-size: 16px;
    border-radius: 7px;
    background-color: white;
    border: 1px solid darkgray;
}
select {
    margin-bottom: 5px;
    padding: 10px;
    font-size: 16px;
    border-radius: 7px;
    background-color: white;
    border: 1px solid darkgray;
}

.input-48 {
    width: 47%;
    height: 51px;
    margin-bottom: 1%;
}

.input-100 {
    width: 100%;
    height: 51px;
    margin-bottom: 1%;
}

.file{
    width: 47%;
    margin-right:40%;
}

label{
    font-size: 25px;
    color:white;
}

.btn-enviar {

    background: #165253;
    color: #fff;
    margin: auto;
    margin-top: 3%;
    margin-left: 24%;
    width: 50%;
    padding: 10px 40px;
    cursor: pointer;
    font-size: 20px;
}

.btn-enviar:hover {
    transition: 0.2s;
    background: #307c7d;
}

.form__link {
    width: 100%;
    margin: 7px;
    text-align: center;
    font-size: 14px;
}


.carousel-inner{
    background-color: white;
    
}


.carousel-control-prev{
    margin-left: 15%;
}

.carousel-control-prev span{
   color:black;
   font-size: 100px;
}

table{
    margin-top: 3%;
}

.actualizar{
    margin-left: 89%;
    border: none;
   
}

.fas{
    font-size: 35px;
    color:white;
} 

button{
    background: none;
    height: auto;
    width: auto;
    border-radius: 10px;
    border: none;
}

table{
    margin-top: 3%;
    width: 90%;
    max-width: 90%;
    height: 50%;
    max-height: 50%;
    
    margin-left: 80px;
    border: 1px solid #165253;;
   
}

thead{
   
    background-color:  #165253;
    color: white;
    font:bold;
    font-size: 16px;  
    text-align: justify;  
}
.accionesactu{
    color:#7DCEA0;
}
.actualizar{
    margin-top: 3px;
    margin-left: 10px;
    margin-right: 3px;
    background-color:#196F3D;
    color:white;
    width: 50px;
    height: 30px;
  border-radius: 10px;
}
.accioneseli{
    color:#C0392B ;
}
.eliminar{
    margin-left: -0px;
    background-color:#C0392B;
    color:white;
    width: 50px;
    height: 30px;
    border-radius: 10px;
}
.fa-pencil-alt{
    font-size: 18px;
}
.fa-trash{
    font-size: 18px;
}

th{
    height: 50px;
}

.tabla{
    margin-left: 0%;
    overflow:scroll;
     height:470px;
     width:99%;
}

tbody tr:nth-child(odd) {
    background-color: white
  }
  
  tbody tr:nth-child(even) {
    background-color: #449394;
  }
  
  tbody tr:hover{
    background-color: #165253;
    color:white;
  }


.botones{
    display: flex;
    background-color: white;
    margin-top: 0%;
    padding-left: 60%;
   
}

.entrada{
    display: flex;
    background-color:  #165253;
    border-radius: 10px;
    width: 32%;
    padding: 15px;
    color: white;
    
}
.entrada:hover{
    transition: 0.2s;
    background: #307c7d;
color:white;
text-decoration:none;
}
.salida{
    display:flex ;
    background-color:  #165253;
    border-radius: 10px;
    width: 30%;
    padding: 15px;
    color: white;
    margin-left: 50px;
    margin-right:80px;
}
.salida:hover{
    transition: 0.2s;
    background: #307c7d;
    color:white;
text-decoration:none;
}