* {

    margin: 0px;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v11/0dTEPzkLWceF7z0koJaX1A.woff2) format('woff2');

}

body {
    background: url(../imagenes/opcion6.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body::-webkit-scrollbar {
    width: 8px;
    height: 8px;

}

body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

body::-webkit-scrollbar-thumb:active {
    background-color: white;
}

body::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

body::-webkit-scrollbar-track:hover,
body::-webkit-scrollbar-track:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.principal {
    display: flex;
    height: auto;
}

.separar {
    width: 870px;
    height: 500px;
    display: block;
    margin-left: 0px;
}

.separar .texto .boton {
    width: 200px;
    height: 50px;
    margin-left: 180px;
    margin-top: 320px;
    font-family: 'Raleway';
    color: white;
    font-size: 18px;
    border-radius: 7px;
    background-color: #006e9d;
    border-color: #006e9d;
    cursor: pointer;

}

.informacion {
    padding-top: 80px;
    margin-top: 0px;
    margin-left: 0px;
    border-radius: 0px;
    background-color: #305B68;
    width: 260px;
    height: 100vh;
    padding-left: 13px;
}

.informacion .boton {
    width: 180px;
    height: 50px;
    margin-top: 40px;
    margin-left: 20px;
    font-family: 'Raleway';
    font-size: 20px;
    color: white;
    cursor: pointer;
    border-radius: 7px;
    background: rgb(154, 229, 48);
    border-color: rgb(154, 229, 48);
}

.informacion img {
    margin-left: 20px;
    margin-bottom: 30px;

    width: 200px;
    height: 200px;
}

.informacion h2 {
    color: white;
    font-family: 'Raleway';
    margin-bottom: 10px;
    font-size: 20px;
}

.informacion h3 {
    color: white;
    font-family: 'Raleway';
    margin-bottom: 30px;

    font-size: 20px;
}

spam {
    color: black;
    font-family: 'Raleway';
    font-size: 18px;


}



.texto {

    font-family: 'Raleway';
    font-size: 70px;
    text-align: right;
    margin-left: -1px;
    margin-top: 0px;
    height: 90px;
    width: 100%;
    background-color: #305B68;
    margin-bottom: 0px
}

.texto img {
    margin-top: 7px;
    margin-right: 50px;
    width: 100px;
    height: 70px;
}



.container4 {
    display: flex;
    background-color: rgba(255, 255, 255, 0.3);
    width: 940px;
    height: 260px;
    border-radius: 10px;
    padding: 15px;
    margin-left: 70px;
    margin-top: 15px;
}

.container5 {
    display: flex;
    background-color: rgba(255, 255, 255, 0.3);
    width: 940px;
    height: 260px;
    border-radius: 10px;
    padding: 15px;
    margin-left: 70px;
    margin-top: 15px;
}


h1 {
    margin-bottom: 30px;
    color: white;
    font-family: 'Raleway';
    text-align: left;
}

.cardBox {
    perspective: 500px;
    margin: 15px;

}

.cardbox2 {
    display: block;
    margin-top: 20px;
    margin-left: 0px;
    position: relative;
    background: rgb(22, 82, 83);
    width: 200px;
    height: 200px;
    border-radius: 7px;
    transform-style: preserve-3d;
    transition: .5s ease;


}

.cardbox3 {
    display: block;
    margin-top: 20px;
    margin-left: 240px;
    position: relative;
    background: rgb(22, 82, 83);
    width: 200px;
    height: 200px;
    border-radius: 7px;
    transform-style: preserve-3d;
    transition: .5s ease;


}

.cardbox2:hover .card-texto {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.cardbox2 {
    overflow: hidden;
}

.card-texto,
.card-back {
    position: absolute;
    top: 15px;
    left: 0;
    width: 250px;
    height: 250px;
    color: white;

}

.card-texto i {
    color: white;
    font-size: 70px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 80px;
}

.card-texto {
    display: block;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    margin-left: -20px;
}

.card-texto h3 {
    text-align: center;
    font-family: 'Raleway';
    margin-left: 0px;
    margin-top: 0px;
    font-size: 18px;
}

.de {
    float: right;
    margin-left: 100px;
}

.cen {
    float: right;
    margin-left: 100px;
}

.is {
    float: left;
    margin-left: 10px;
}

.card-texto input {
    background-color: #ff7f27;
    font-family: 'Raleway';
    color: white;
    width: 80px;
    height: 30px;
    margin-left: 80px;
    margin-top: 25px;
    cursor: pointer;
    border-radius: 7px;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.5);
    clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0 86%);

}

.card-back {

    display: flex;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: -22px;
    margin-top: -20px;

}

.informacion1 {
    padding-top: 80px;
    margin-top: 0px;
    margin-left: 0px;
    border-radius: 0px;
    background-color: #305B68;
    width: 20%;
    padding-left: 13px;
}

.informacion1 .boton {
    width: 180px;
    height: 50px;
    margin-top: 40px;
    margin-left: 20px;
    font-family: 'Raleway';
    font-size: 20px;
    color: white;
    cursor: pointer;
    border-radius: 7px;
    background: rgb(154, 229, 48);
    border-color: rgb(154, 229, 48);
}

.informacion1 img {
    margin-left: 20px;
    margin-bottom: 30px;

    width: 200px;
    height: 200px;
}

.informacion1 h2 {
    color: white;
    font-family: 'Raleway';
    margin-bottom: 20px;
    font-size: 20px;
}

.informacion1 h3 {
    color: white;
    font-family: 'Raleway';
    margin-bottom: 30px;

    font-size: 20px;
}

spam {
    color: black;
    font-family: 'Raleway';
    font-size: 18px;


}