*,
*:after,
*:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  height: 100vh;

}

.blue {
  background: #165253;
  color: #fff;
}

.navbar {
  padding: 10px 10%;
}

#logo {
  display: inline-block;
  margin-top: 7px;
  color: #fff;
  width: 8.5%;
}

#logo img {
  width: 95%;
}

i {
  margin: 0 7px;
}

#sidebarCollapse {
  color: #fff;
  background: transparent;
  outline: none;
  margin: 0 20px;
}

#sidebarCollapse:hover {
  color: #165253;
  background: #fff;
  outline: none;
}

#sidebar {

  min-width: 250px;
  max-width: 250px;
  margin-top: 0px;
  padding-top: 70px;
  padding-left: 15px;
  height: 100vh;
  background-color: #165253;
  color: #fff;
  transition: all 0.3s;
}

#sidebar img {
  margin-top: 20%;
  width: 100%;
  margin-left: -15px;

}

.cerrar {
  
  font-size: 25px;
  margin-top: 4%;
  margin-left: -15px;
  text-align: center;
  

}

#sidebar h2 {
  margin-top: 25px;
  ;
  color: white;
  font-size: 120%;
}

#sidebar.active {
  margin-left: -250px;
}

#todo {
  display: flex;
  background-color: white;
}

.fondo {
  display: block;
  width: 100%;

  margin-top: 3%;
  padding-top: 60px;
}

#cartas1 {
  display: flex;
  margin-bottom: 10px;
}

#cartas1 .card {
  margin-left: 11%;
  width: 220px;
  border-radius: 7px;
  height: 270px;
}

#cartas2 {
  display: flex;
  padding-top: 10px
}

#cartas2 .card {
  margin-left: 6%;
  margin-right: 10px;
  width: 220px;
  height: 270px;
}


.card-body {
  background-color: #165253;
  color: white;
  border-bottom: 7px;
}




@media (max-width:800px) {
  #sidebar {
    margin-left: -250px;
  }

  #sidebar.active {
    margin-left: 0px;
  }

  #sidebarCollapse span {
    display: none;
  }

  .card {
    width: 100%;
  }
}

@media (max-width:400px) {
  #sidebar {
    margin-top: -20px;
  }

  #logo {
    display: none;
  }
}