#main-container{
	border-radius: 7px;
	margin: auto;
	width: 600px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

table{
	margin-top: 900px;
	background-color: white;
	border-radius: 7px;
	text-align: center;
	border-collapse: collapse;
        transform: translate(-27%,-220%);

}


th, td{
	
	padding: 20px;
}

thead{
	border-radius:7px;
	background-color: #165253;
	border-bottom: solid 3px white;
	color: white;
}

tr:nth-child(even){
	background-color: #ddd;
}

tr:hover td{
    background-color:#386e6e;
    transition: 0.5s;
	color: white;
}

.bt{
	margin: auto;
	border: 1px solid gray;
	border-radius: 5px;
	padding: 5px;
	font-size: 15px;
}

.bt:hover{
	background: rgb(8, 116, 8);
	transition: 0.5s;
	color: white;
}

.bt1{
	margin: auto;
	border: 1px solid gray;
	border-radius: 5px;
	padding: 5px;
	font-size: 15px;
}

.bt1:hover{
	background: rgb(155, 34, 34);
	transition: 0.5s;
	color: white;
}

